<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <%= form_tag("/login") do %>
        <div class="form-body">

          <% if @error_message %>
            <div class="form-error">
              <%= @error_message %>
            </div>
          <% end %>

          <p>メールアドレス</p>
          <%= text_field_tag :email, @email %>
          <p>パスワード</p>
          <%= password_field_tag :password, @password %>
          <%= submit_tag "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
</div>