<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <%= form_tag ("/users/create") do %>
        <div class="form-body">
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>ユーザー名</p>
          <%= text_field_tag :name, @user.name %>
          <p>メールアドレス</p>
          <%= text_field_tag :email, @user.email %>
          <p>パスワード</p>
          <%= password_field_tag :password, @user.password %>
          <%= submit_tag "新規登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>